<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="app-especialista-heading"
        data-cy="EspecialistaCreateUpdateHeading"
        appTranslate="healthScoreApp.especialista.home.createOrEditLabel"
      >
        Criar ou editar Especialista
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" appTranslate="healthScoreApp.especialista.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nome" appTranslate="healthScoreApp.especialista.nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cpf" appTranslate="healthScoreApp.especialista.cpf">Cpf</label>
          <input type="text" class="form-control" name="cpf" id="field_cpf" data-cy="cpf" formControlName="cpf" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_especializacao" appTranslate="healthScoreApp.especialista.especializacao"
            >Especializacao</label
          >
          <select
            class="form-control"
            name="especializacao"
            formControlName="especializacao"
            id="field_especializacao"
            data-cy="especializacao"
          >
            <option [ngValue]="null">{{ 'healthScoreApp.Especializacao.null' | translate }}</option>
            @for (especializacao of especializacaoValues; track $index) {
              <option [value]="especializacao">{{ 'healthScoreApp.Especializacao.' + especializacao | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataFormacao" appTranslate="healthScoreApp.especialista.dataFormacao">Data Formacao</label>
          <div class="d-flex">
            <input
              id="field_dataFormacao"
              data-cy="dataFormacao"
              type="datetime-local"
              class="form-control"
              name="dataFormacao"
              formControlName="dataFormacao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telefone" appTranslate="healthScoreApp.especialista.telefone">Telefone</label>
          <input type="number" class="form-control" name="telefone" id="field_telefone" data-cy="telefone" formControlName="telefone" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" appTranslate="healthScoreApp.especialista.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataNascimento" appTranslate="healthScoreApp.especialista.dataNascimento"
            >Data Nascimento</label
          >
          <div class="d-flex">
            <input
              id="field_dataNascimento"
              data-cy="dataNascimento"
              type="datetime-local"
              class="form-control"
              name="dataNascimento"
              formControlName="dataNascimento"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
