<div>
  <h2 id="page-heading" data-cy="MetasSaudeHeading">
    <span appTranslate="healthScoreApp.metasSaude.home.title">Metas Saudes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="healthScoreApp.metasSaude.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-metas-saude"
        [routerLink]="['/metas-saude/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="healthScoreApp.metasSaude.home.createLabel">Criar novo Metas Saude</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="filters"></app-filter>

  @if (metasSaudes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span appTranslate="healthScoreApp.metasSaude.home.notFound">Nenhum Metas Saude encontrado</span>
    </div>
  }

  @if (metasSaudes && metasSaudes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr appSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" appSortBy="id">
              <div class="d-flex">
                <span appTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="tipoMeta">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.metasSaude.tipoMeta">Tipo Meta</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="valorMeta">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.metasSaude.valorMeta">Valor Meta</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="dataInicio">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.metasSaude.dataInicio">Data Inicio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="dataFim">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.metasSaude.dataFim">Data Fim</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="internalUser.id">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.metasSaude.internalUser">Internal User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (metasSaude of metasSaudes; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/metas-saude', metasSaude.id, 'view']">{{ metasSaude.id }}</a>
              </td>
              <td [appTranslate]="'healthScoreApp.TipoMeta.' + (metasSaude.tipoMeta ?? 'null')">
                {{
                  { null: '', PERDA_DE_PESO: 'PERDA_DE_PESO', GANHO_DE_MASSA_MUSCULAR: 'GANHO_DE_MASSA_MUSCULAR', OUTRO: 'OUTRO' }[
                    metasSaude.tipoMeta ?? 'null'
                  ]
                }}
              </td>
              <td>{{ metasSaude.valorMeta }}</td>
              <td>{{ metasSaude.dataInicio | formatMediumDatetime }}</td>
              <td>{{ metasSaude.dataFim | formatMediumDatetime }}</td>
              <td>
                {{ metasSaude.internalUser?.id }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/metas-saude', metasSaude.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/metas-saude', metasSaude.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(metasSaude)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (metasSaudes && metasSaudes.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
