<div>
  <h2 id="page-heading" data-cy="PontuacaoUsuarioHeading">
    <span appTranslate="healthScoreApp.pontuacaoUsuario.home.title">Pontuacao Usuarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="healthScoreApp.pontuacaoUsuario.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pontuacao-usuario"
        [routerLink]="['/pontuacao-usuario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="healthScoreApp.pontuacaoUsuario.home.createLabel">Criar novo Pontuacao Usuario</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="filters"></app-filter>

  @if (pontuacaoUsuarios?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span appTranslate="healthScoreApp.pontuacaoUsuario.home.notFound">Nenhum Pontuacao Usuario encontrado</span>
    </div>
  }

  @if (pontuacaoUsuarios && pontuacaoUsuarios.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr appSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" appSortBy="id">
              <div class="d-flex">
                <span appTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="dataAlteracao">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.pontuacaoUsuario.dataAlteracao">Data Alteracao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="valorAlteracao">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.pontuacaoUsuario.valorAlteracao">Valor Alteracao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="motivo">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.pontuacaoUsuario.motivo">Motivo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="usuario.id">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.pontuacaoUsuario.usuario">Usuario</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (pontuacaoUsuario of pontuacaoUsuarios; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/pontuacao-usuario', pontuacaoUsuario.id, 'view']">{{ pontuacaoUsuario.id }}</a>
              </td>
              <td>{{ pontuacaoUsuario.dataAlteracao | formatMediumDatetime }}</td>
              <td>{{ pontuacaoUsuario.valorAlteracao }}</td>
              <td>{{ pontuacaoUsuario.motivo }}</td>
              <td>
                @if (pontuacaoUsuario.usuario) {
                  <div>
                    <a [routerLink]="['/usuario', pontuacaoUsuario.usuario.id, 'view']">{{ pontuacaoUsuario.usuario.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/pontuacao-usuario', pontuacaoUsuario.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/pontuacao-usuario', pontuacaoUsuario.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(pontuacaoUsuario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (pontuacaoUsuarios && pontuacaoUsuarios.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
