<div>
  <h2 id="page-heading" data-cy="DietaHeading">
    <span appTranslate="healthScoreApp.dieta.home.title">Dietas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="healthScoreApp.dieta.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dieta"
        [routerLink]="['/dieta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="healthScoreApp.dieta.home.createLabel">Criar novo Dieta</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="filters"></app-filter>

  @if (dietas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span appTranslate="healthScoreApp.dieta.home.notFound">Nenhum Dieta encontrado</span>
    </div>
  }

  @if (dietas && dietas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr appSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" appSortBy="id">
              <div class="d-flex">
                <span appTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="descricaoRefeicao">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.dieta.descricaoRefeicao">Descricao Refeicao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="dataHorarioRefeicao">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.dieta.dataHorarioRefeicao">Data Horario Refeicao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="caloriasConsumidas">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.dieta.caloriasConsumidas">Calorias Consumidas</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="internalUser.id">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.dieta.internalUser">Internal User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (dieta of dietas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/dieta', dieta.id, 'view']">{{ dieta.id }}</a>
              </td>
              <td>{{ dieta.descricaoRefeicao }}</td>
              <td>{{ dieta.dataHorarioRefeicao | formatMediumDatetime }}</td>
              <td>{{ dieta.caloriasConsumidas }}</td>
              <td>
                {{ dieta.internalUser?.id }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/dieta', dieta.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/dieta', dieta.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(dieta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (dietas && dietas.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
