<div>
  <h2 id="page-heading" data-cy="UsuarioHeading">
    <span appTranslate="healthScoreApp.usuario.home.title">Usuarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="healthScoreApp.usuario.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-usuario"
        [routerLink]="['/usuario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="healthScoreApp.usuario.home.createLabel">Criar novo Usuario</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="filters"></app-filter>

  @if (usuarios?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span appTranslate="healthScoreApp.usuario.home.notFound">Nenhum Usuario encontrado</span>
    </div>
  }

  @if (usuarios && usuarios.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr appSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" appSortBy="id">
              <div class="d-flex">
                <span appTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="plano">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.usuario.plano">Plano</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="dataRegistro">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.usuario.dataRegistro">Data Registro</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="telefone">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.usuario.telefone">Telefone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="email">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.usuario.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="dataNascimento">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.usuario.dataNascimento">Data Nascimento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="metaConsumoAgua">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.usuario.metaConsumoAgua">Meta Consumo Agua</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="metaSono">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.usuario.metaSono">Meta Sono</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="metaCaloriasConsumidas">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.usuario.metaCaloriasConsumidas">Meta Calorias Consumidas</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="metaCaloriasQueimadas">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.usuario.metaCaloriasQueimadas">Meta Calorias Queimadas</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="pontosUser">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.usuario.pontosUser">Pontos User</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="internalUser.id">
              <div class="d-flex">
                <span appTranslate="healthScoreApp.usuario.internalUser">Internal User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (usuario of usuarios; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/usuario', usuario.id, 'view']">{{ usuario.id }}</a>
              </td>
              <td [appTranslate]="'healthScoreApp.TipoPlano.' + (usuario.plano ?? 'null')">
                {{ { null: '', GRATUITO: 'GRATUITO', BRONZE: 'BRONZE', PRATA: 'PRATA', OURO: 'OURO' }[usuario.plano ?? 'null'] }}
              </td>
              <td>{{ usuario.dataRegistro | formatMediumDatetime }}</td>
              <td>{{ usuario.telefone }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.dataNascimento | formatMediumDatetime }}</td>
              <td>{{ usuario.metaConsumoAgua }}</td>
              <td>{{ usuario.metaSono }}</td>
              <td>{{ usuario.metaCaloriasConsumidas }}</td>
              <td>{{ usuario.metaCaloriasQueimadas }}</td>
              <td>{{ usuario.pontosUser }}</td>
              <td>
                {{ usuario.internalUser?.id }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/usuario', usuario.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/usuario', usuario.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(usuario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (usuarios && usuarios.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
