<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="app-pontuacao-usuario-heading"
        data-cy="PontuacaoUsuarioCreateUpdateHeading"
        appTranslate="healthScoreApp.pontuacaoUsuario.home.createOrEditLabel"
      >
        Criar ou editar Pontuacao Usuario
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" appTranslate="healthScoreApp.pontuacaoUsuario.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_dataAlteracao" appTranslate="healthScoreApp.pontuacaoUsuario.dataAlteracao"
            >Data Alteracao</label
          >
          <div class="d-flex">
            <input
              id="field_dataAlteracao"
              data-cy="dataAlteracao"
              type="datetime-local"
              class="form-control"
              name="dataAlteracao"
              formControlName="dataAlteracao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valorAlteracao" appTranslate="healthScoreApp.pontuacaoUsuario.valorAlteracao"
            >Valor Alteracao</label
          >
          <input
            type="number"
            class="form-control"
            name="valorAlteracao"
            id="field_valorAlteracao"
            data-cy="valorAlteracao"
            formControlName="valorAlteracao"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_motivo" appTranslate="healthScoreApp.pontuacaoUsuario.motivo">Motivo</label>
          <input type="text" class="form-control" name="motivo" id="field_motivo" data-cy="motivo" formControlName="motivo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_usuario" appTranslate="healthScoreApp.pontuacaoUsuario.usuario">Usuario</label>
          <select
            class="form-control"
            id="field_usuario"
            data-cy="usuario"
            name="usuario"
            formControlName="usuario"
            [compareWith]="compareUsuario"
          >
            <option [ngValue]="null"></option>
            @for (usuarioOption of usuariosSharedCollection; track $index) {
              <option [ngValue]="usuarioOption">{{ usuarioOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
